<h1 id="form-title">David Chu's China Bistro Newsletter</h1>

<fieldset>
    <legend id="form-legend">Sign up Form</legend>

    <div class="col-md-12 text-center">
        <form name='signupForm' id="form-div" novalidate>
            <input type="text" class="form-field" name="firstname" placeholder="First Name"
                ng-model="signupCtrl.firstname" required>
            <br>

            <input type="text" class="form-field" name="lastname" placeholder="Last Name" ng-model="signupCtrl.lastname"
                required>
            <br>

            <input type="email" class="form-field" name="email" placeholder="Email" ng-model="signupCtrl.email"
                required>

            <span ng-if="signupForm.email.$invalid && signupForm.email.$touched">
                Must be a valid email address: handle@domain format
            </span>
            <br>

            <input type="text" class="form-field" name="phone" placeholder="Phone ###-###-####"
                ng-model="signupCtrl.phone" pattern="(\d{3})-(\d{3})-(\d{4})" required>

            <span ng-if="signupForm.phone.$invalid && signupForm.phone.$touched">
                Phone must be in the format ###-###-####.
            </span>
            <br>

            <label>Favorite Dish:</label><br>
            <input type="text" class="form-field" name="selectedItem" placeholder="Favorite Dish"
                ng-model="signupCtrl.selectedItem.short_name" required maxlength="4"
                ng-pattern="/^[a-zA-Z]{1,2}\d{1,2}$/"
                ng-blur="signupCtrl.validateSelectedItem(signupCtrl.selectedItem.short_name)">
            <span ng-if="signupForm.selectedItem.$invalid && signupForm.selectedItem.$touched">
                Must be 1–2 letters followed by 1–2 numbers (e.g. A1, AB12).
            </span>
            <span ng-if="!signupCtrl.isValid">
                No such menu item exists.
            </span>
            <br>

            <button ng-disabled="signupForm.$invalid" ng-click="signupCtrl.submit()">Submit</button>

            <div ng-show="signupCtrl.completed">Your information has been saved.</div>
        </form>

    </div>
</fieldset>