@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    font-family: Atma;
}

#header-nav {
    background-color: rgb(201, 79, 79);
    border-radius: 0;
    border: 0;
}

/* #logo-img {
    background: url('../images/menu-logo.png') no-repeat;
    max-width: 80px;
    height: auto;
} */

.navbar-brand {
    padding-top: 15px;
}

.navbar-brand h1 {
    /* Restaurant name */
    color: #ffffff;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}

.navbar-brand a:link,
.navbar-brand a:visited,
.navbar-brand a:hover,
.navbar-brand a:active {
    text-decoration: none;
}

h1 {
    text-align: center;
}

.container {
    padding: 8px;
}

.menu-item {
    background-color: rgb(186, 180, 180);
    position: relative;
    border: 1px solid black;
    height: 90px;
    overflow: hidden;
}

.menu-item:hover {
    cursor: ns-resize;
    overflow-y: auto;
}

p {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
}

#chicken,
#chicken-mobile {
    background-color: pink;
    color: #323337;
}

#beef,
#beef-mobile {
    background-color: rgb(201, 79, 79);
    color: white;
}

#sushi,
#sushi-mobile {
    background-color: rgb(255, 222, 146);
}

.row {
    width: 100%;
    justify-content: center;
}

/************ Large devices only ****************/
@media(min-width: 768px) {

    #mobile-title,
    #chicken-mobile,
    #beef-mobile,
    #sushi-mobile {
        display: none;
    }

    h2 {
        position: absolute;
        top: -1px;
        right: -1px;
        margin: 0px;
        text-align: center;
        width: 150px;
        border: 1px solid black;
    }
}

/************ Medium devices only ****************/
@media(min-width: 576px) and (max-width: 767px) {

    #mobile-title,
    #chicken-mobile,
    #beef-mobile,
    #sushi-mobile {
        display: none;
    }

    h2 {
        position: absolute;
        top: -1px;
        right: -1px;
        margin: 0px;
        text-align: center;
        width: 150px;
        border: 1px solid black;
    }
}

/************Small devices only ****************/
@media(max-width: 575px) {

    #original-title,
    #chicken,
    #beef,
    #sushi {
        display: none;
    }

    h1 {
        text-align: left;
        font-size: 150%;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        margin: 0px 0px 0px 8px;
    }

    h2 {
        margin: 0px;
        text-align: center;
        border: 1px solid black;
    }


    p {
        width: 90%;
        margin-right: auto;
        margin-left: auto;
        margin-top: 10px;
    }
}